* {
    margin: 0px;
    font-size: medium;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
#banner {
    width: 50%;
    background-color: #e2daeb;
}
#form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #301e4e;
}
#title {
    color: #f4f0fc;
    font-size: x-large;
    font-weight: 500;
}
label {
    text-align: left;
    color: #ffffff;
}
.inputc {
    width: 60%;
    display: flex;
    flex-direction: column;
}
input {
    height: 1.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.singup {
    display: none;
}
button {
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: #4c346b;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
}
button:active {
    background-color: #241933;
}
#switch {
    border: none;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0);
}
#switch:active {
    color: #4c346b;
}