main {
    width: 100%;
    height: 90vh;
}
#title {
    text-align: center;
}
#mensajes {
    height: 80vh;
    max-height: 80vh;
    width: 100%;
    background-color: aliceblue;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mensaje {
    width: auto;
    height: auto;
    padding: 5px;
    background-color: antiquewhite;
    margin-left: 20px;
}
#foot {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    gap: 30px;
}
#input {
    resize: none;
}